<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>
  {{>navbar}}
  <!-------main header-->
  <div class="container-fluid ">
    <div class="row">
        <div class=" col-md-10 col-sm-12 mx-auto">
            <div class="row main-header">
               <!---Main header left-->
              <div class="col-md-6 col-12 main-header-right align-items-center">
                <figure>
                <img src="images/about.jpg" alt="bilal" style="height: 250px; width: 200px;" class="img-fluid  mt-1">
                </figure>
                </div>
                <!---Main header right-->
                <div class="col-md-6 col-12 main-header-left">
                  <p>Welcome to WeatherApp</p>
                  <h1>I am a <span>Mern Stack </span>Deveploper .</h1>
                  <a href="/weather"><button>check now</button></a>
                </div>
      
               
             </div>
         </div>
    </div>
</div>
{{>footer}}
</body>
</html>